<div [ngClass]="{
    todo: true,
    animateEnter: todo.animateAdd
}" (mouseenter)="show()" (mouseleave)="hide()">
    <div [ngClass]="{
        todo__body: true,
        active: todoState
    }">
        <i class="fas fa-list-ul"></i>
        <p>{{ todo.message }}</p>
        <div class="todo__body-triger"></div>
    </div>
    <div class="todo__btns">
        <div class="todo__done" (click)="handleDone(todo.id)">
            <i class="fas fa-check-circle"></i>
        </div>
        <div class="todo__delete" (click)="handleDelete(todo.id)">
            <i class="fas fa-trash"></i>
        </div>
    </div>
</div>