<div class="todos_block"
    [ngStyle]="{display: todo.length === 0 ? 'none' : 'block'}"
>
    <div class="todo_item"
        *ngFor="let item of todo"
    >
        <p class="todo_text">
            {{ item.text }} 
        </p>
        <div class="todo_check" (click)="handleDone(item.id)">
            <i class="fas fa-check"></i>
        </div>
    </div>
</div>
<div class="todos_block">
    <div class="todo_item"
        *ngFor="let item of done"
    >
        <p class="todo_text done">
            {{ item.text }} 
        </p>
        <div class="todo_check done" (click)="handleDone(item.id)">
            <i class="fas fa-check"></i>
        </div>
    </div>
</div>