<div [ngClass]="{modal_holder: true, show: modalOpen}">
    <div class="close_btn" (click)="toggleModal()">
        <i class="far fa-times-circle"></i>
    </div>
    <div class="modal">
        <div 
            [ngClass]="{confirm: true, show: newTodoText ? true : false}" 
            (click)="handleNewTodo()"
        >
            <i class="fas fa-plus"></i>
        </div>
        <textarea
            placeholder="Type in your todo here..."
            [(ngModel)]="newTodoText"
        ></textarea>
    </div>
</div>
