<div [ngClass]="{modal_holder: true, show: todosService.modal}">
    <div class="close_btn" (click)="todosService.toggleModal()">
        <i class="far fa-times-circle"></i>
    </div>
    <div class="modal" [ngClass]="{modal: true, show: todosService.modal}">
        <div 
            [ngClass]="{confirm: true, show: newTodoText ? true : false}" 
            (click)="handleNewTodo(newTodoText)"
        >
            <i class="fas fa-plus"></i>
        </div>
        <textarea
            placeholder="Type in your todo here..."
            [(ngModel)]="newTodoText"
        ></textarea>
    </div>
</div>
