@use '../../../variables.scss' as *;
@use '../../../mixins.scss' as mixins;

.post {
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 20px 0;
    transform: translateY(100px);
    opacity: 0;
    animation: post 1s forwards .5s;
    &__title {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 7px;
        cursor: pointer;
    }
    &__title:hover {
        text-decoration: underline;
    }
    &__text {
        font-size: 18px;
        line-height: 25px;
        font-style: italic;
    }
}

.post.green {
    @include mixins.color__theme($green);
}
.post.orange {
    @include mixins.color__theme($orange);
}
.post.lightBlue {
    @include mixins.color__theme($lightBlue);
}
.post.purple {
    @include mixins.color__theme($purple);
}
.post.grey {
    @include mixins.color__theme($grey);
}

@keyframes post {
    0% {
        transform: translateY(100px);
        opacity: 0;
    } 100% {
        transform: translateY(0px);
        opacity: 1;
    }
}