@use '../../../variables.scss' as *;
@use '../../../mixins.scss' as mixins;

.form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1;
    opacity: 0;
    animation: fadeIn .5s forwards;
    display: none;
    &__body {
        position: absolute;
        width: 95%;
        height: 95vh;
        background-color: #fff;
        bottom: 0;
        left: 50%;
        overflow-y: scroll;
        border-radius: 50px 50px 0 0;
        transform: translate(-50%, calc(100% + 30px));
        box-shadow: 0 0px 30px rgba(0,0,0,0.19), 0 0px 20px rgba(0,0,0,0.23);
        padding: 20px;
        animation: slideIn .7s forwards .4s;
        transition: .5s;
    }
    &__body::-webkit-scrollbar {
        display: none;
    }
    &__title {
        font-size: 40px;
        font-weight: bold;
        text-align: center;    
        margin-bottom: 15px;   
        color: #000;
        transition: .5s;
    }
    &__inputs {
        width: 80%;
        height: 70%;
        margin: 0 auto 15px;
        display: grid;
        grid-template-rows: 40px 1fr;
        grid-row-gap: 15px;
        input, textarea {
            // height: 40px;
            padding: 0 15px;
            font-size: 18px;
        }
        textarea {
            // height: 400px;
            resize: none;
            padding: 15px;
        }
    }
    &__colors {
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-bottom: 15px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        .color {
            outline: none;
            width: 100%;
            height: 40px;
            cursor: pointer;
        }
        .color:nth-child(1) {
            background-color: #C6FF00;
        }
        .color:nth-child(2) {
            background-color: #FFC400;
        }
        .color:nth-child(3) {
            background-color: #81D4FA;
        }
        .color:nth-child(4) {
            background-color: #E040FB;
        }
        .color:nth-child(5) {
            background-color: #EDE7F6;
        }
    }
    button {
        display: block;
        width: 50%;
        margin: 0 auto;
        cursor: pointer;
        font-size: 18px;
        text-transform: uppercase;
        height: 40px;
    }
}

.form {
    &__body.green {
        @include mixins.color__theme($green);
        .form__title {
            color: #fff;
        }
    }
    &__body.orange {
        @include mixins.color__theme($orange);
        .form__title {
            color: #fff;
        }
    }
    &__body.lightBlue {
        @include mixins.color__theme($lightBlue);
        .form__title {
            color: #fff;
        }
    }
    &__body.purple {
        @include mixins.color__theme($purple);
        .form__title {
            color: #fff;
        }
    }
    &__body.grey {
        @include mixins.color__theme($grey);
        .form__title {
            color: #000;
        }
    }
}

.openform {
    position: fixed;
    bottom: 25px;
    right: 25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 40px;
    border: none;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    outline: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translate(-50%, calc(100% + 30px));
    } 100% {
        transform: translate(-50%, 0);
    }
}