<form class="form"
    [ngStyle]="{display: formState ? 'block' : 'none'}"
    (click)="toggleForm($event)"
>
    <div class="form__body">
        <h2 class="form__title">Compose your post</h2>
        <div class="form__inputs">
            <input 
                type="text" 
                name="title" 
                placeholder="Post title..."
                [(ngModel)]="title"
            >
            <textarea 
                name="text" 
                placeholder="Post text..."
                [(ngModel)]="text"
            ></textarea>
        </div>
        <div class="form__colors">
            <div 
                class="color"
                data-color="green" 
                (click)="handleColor($event)"
            ></div>
            <div 
                class="color" 
                data-color="orange"
                (click)="handleColor($event)"
            ></div>
            <div 
                class="color" 
                data-color="lightBlue"
                (click)="handleColor($event)"
            ></div>
            <div 
                class="color" 
                data-color="purple"
                (click)="handleColor($event)"
            ></div>
            <div 
                class="color" 
                data-color="grey"
                (click)="handleColor($event)"
            ></div>
        </div>
        <button type="submit" (click)="handleNewPost(title, text, color)">Add new post</button>
    </div>
</form>

<button class="openform" (click)="toggleForm($event)">+</button>